.App {
  max-width: 900px;
  margin: 0 auto;
}
.inputs {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.inputField {
  display: flex;
  flex-direction: column;
}

.inputField input {
  width: 120px;
}

button {
  display: block;
  margin: 20px auto;
}
